@font-face {
	font-family: 'Icon-Font';
	src:url('../fonts/Icon-Font.eot?pvlt9s');
	src:url('../fonts/Icon-Font.eot?pvlt9s#iefix') format('embedded-opentype'),
		url('../fonts/Icon-Font.ttf?pvlt9s') format('truetype'),
		url('../fonts/Icon-Font.woff?pvlt9s') format('woff'),
		url('../fonts/Icon-Font.svg?pvlt9s#Icon-Font') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root {
    --failure: #EC3434;
    --success: #2EC334;
    --highlight: #1B70CB;
    --dark-highlight: color(var(--highlight) shade(30%));
    --base: #E1E1E1;
    --white: #FFF;
}

/**************************************************************************
/ Common Styles
/**************************************************************************/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
}

body, html, ul, input, i, p, header, h1 {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    text-align: center;
    color: var(--white);
    background-color: var(--highlight);
}

main {
    margin: 0;
    padding: 1rem;
}

ul {
    list-style: none;
}

h1 {
    font-weight: 300;
}

.button {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    color: var(--white);
    background-color: var(--highlight);
}

/**************************************************************************
/ Questions
/**************************************************************************/

.question {
    background-color: var(--base);
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}

.question p, .question ul {
    padding: 1rem;
}

.question p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    color: var(--white);
    background-color: var(--dark-highlight);
    border-radius: 0.3rem 0.3rem 0 0;
}

.question li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.correct p {
    background-color: var(--success);
}

.incorrect p {
    background-color: var(--failure);
}

input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    margin: 0.8rem 0;
    padding-left: 2.6rem;
    position: relative;
}

label::before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Icon-Font';
    text-align: center;
    position: absolute;
    left: 0;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--white);
    border: 0.3rem solid white;
    border-radius: 50%;
    box-sizing: border-box;
}

input[type="radio"]:checked + label::before {
    background-color: var(--highlight);
    animation-duration: 300ms;
    animation-name: grow;
}

/* Animate radio button clicks */
@keyframes grow {
    from {
        border-width: 0.8rem;
    }

    to {
        border-width: 0.3rem;
    }
}

.correct input[type="radio"]:checked + label::before {
    content: '\e901';
    font-size: 1.2rem;
    background-color: var(--white);
}

.incorrect input[type="radio"]:checked + label::before {
    content: '\e900';
    font-size: 1rem;
    background-color: var(--white);
}

/**************************************************************************
/ Results
/**************************************************************************/

#results {
    display: flex;
    justify-content: center;
}

#results > p {
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    color: var(--white);
    background-color: var(--highlight);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
}

/**************************************************************************
/ Media Queries
/**************************************************************************/

@media (min-width: 700px) {
    main {
        width: 60rem;
        margin: 0 auto;
    }

    .question p, .question ul {
        padding: 1rem 1.4rem;
    }
}
